.header {
    display: flex;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid #f2f4f5;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header.dark {
    background-color: #23272f;
    border-bottom: 1px solid rgb(60, 60, 60);
}

.title {
    font-size: 20px;
}

.date {
    font-size: 16px;
}
