.search {
    display: flex;
    gap: 12px
}

.input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #f2f3f5;
    border-radius: 12px;
} 

.search.dark .input {
    background-color: #23272f;
}